/* Create two unequal columns that floats next to each other */
/* Left column */
.sidecolumn {
  box-sizing: border-box;
  float: left;
  width: 10%;
}

.centercolumn {
  box-sizing: border-box;
  float: left;
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .sidecolumn,
  .centercolumn {
    width: 100%;
    padding: 0;
  }
}
